.parallax {
    background-image: url("https://i.redd.it/b5qlzuxwd8r01.gif");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    .caption {
        position: absolute;
        left: 0;
        top: 20%;
        width: 100%;
        text-align: center;
        color: #000;
        transform: translateY(-90%);
    }
    .caption span.border {
        background-color: #111;
        color: #fff;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 10px;
    }

    .parallax2 {
        background-image: url("https://i.redd.it/b5qlzuxwd8r01.gif");
        min-height: 200px; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax3 {
        background-image: url("https://i.redd.it/b5qlzuxwd8r01.gif");
        min-height: 1000px; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

.jumbotron {
    margin-bottom: 0 !important;
}