<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Medal DashBoard by Country </title>
		<link rel="stylesheet" type="text/css" href="../static/css/style_dash.css">
		<script src="<script src="http://d3js.org/d3.v3.min.js"></script>
	</head>
	<body>
	<div id='dashboard'>
	</div>
	<link rel="stylesheet" type="text/css" href="../static/css/style_dash.css">
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script type="text/javascript" src="../static/js/app_medal.js"></script>
  </body>
</html>
