<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Scatter plots</title>
		<link rel="stylesheet" type="text/css" href="../static/css/style_scat.css">

   
    
    <link rel="stylesheet" type="text/css" href="../static/css/style_scat.css">
    

    <!-- external reference sheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<!-- <script src="<script src="http://d3js.org/d3.v3.min.js"></script> -->
	</head>
	<body>
			<div class="scatter"></div>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script type="text/javascript" src="../static/js/app_scatter.js"></script>
  </body>
</html>
