<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Local style sheet -->
    <!-- <link rel="stylesheet" type="text/css" href="stylesheet.css"> -->

    <!-- external reference sheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
</head>
<body>
        <div class="wrapper">
                <nav class="navbar navbar-dark bg-dark">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="index.html">Olympic Games
                      </a>
                    </div>
                  </div>
                </nav>
                <div class="jumbotron text-center">
                  <h1>This willl be the Header</h1>
                  <p>Welcome to our interactive analysis</p>
                </div>
    <h1>Hello World!</h1>
</body>
</html>