<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Local style sheets -->
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
    
    <!-- external reference sheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src='//cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js'></script>
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="https://d3js.org/d3.v2.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
  </head>



<body>
    <!-- <canvas id="world"></canvas> -->
  <div class="parallax4">
    <div class="caption">
      <span class="border">Olympic Games</span>
      <br><br><br> <!--2 spaces-->
      <span class="border2">By: Bill Liu, Luis Garcia, Tejas Babu <ion-icon name="happy"></ion-icon> </span>
    </div>
    <br><br><br><br><br><br><br><br><br><br> <!--10 spaces-->
    <canvas id=c1 width=400 height=210></canvas>
  </div>

  <div class="jumbotron text-center jumbotron-fluid bg-dark">
    <h1 class="text-white">Project Description:</h1>
    <p class="text-white">In this project we explore data from the Olympic games from 1896 to 2016. First we moved two large csv files into an sqlite database.
      Then, we created a flask application that would query data into different formats to then translate into creative visualizations.
      Each endpoint is in essence an ETL pipeline into D3 graphs. First the Data is queried with SQLAlchemy. Second, the data is transformed with Pandas into usefull information. Last, we convert the dataframes into json files that could be read by D3.
      The database looks at Olympic records from 1896 to 2016, that were originaly scrapped from www.sports-reference.com.
      To meet the requirement of using a javascript library not covered, we used Anime.js to generate the Olympic logo animation.</p>
  </div>

  <div class="parallax2"></div>

  <div class="container-fluid bg-dark">
    <br><br> <!--2 spaces-->
    <h3 class="text-white">Olympic Sports, Countries and thier Medals</h3>
    <br><br><br> <!--3 spaces-->
    <div class="col">
      <div id="pieChart"></div>
    </div>
    <div class="col">
      <div class="row">
        <div id="barChart"></div>  
      </div>
      <div class="row">
        <div id="lineChart"></div>
      </div>
    </div>
  </div>


  <div class="container-fluid shadow bg-dark">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <!--22 spaces for pie-bar-line chart-->
    <div class="box">
        <!-- stuff -->
      <h6 class="text-white bet_time"><ion-icon name="brush"></ion-icon> Bill Liu</h6>
    </div>
    <br> <!--1 space-->
    <h4 class='text-white'>Description:</h4>
    <p class="text-white">This visualization shows the total Olympic medals won by country, year and sports. When you click on the country from the pie chart on the left, you will see their medal trend by year as well as the medal breakdown by sports. For example, US medals are mostly concentrated in athletes and swimming.</p>
    <br><br> <!--2 spaces-->

  </div>

  <div class="parallax2"></div>

  <div class="container-fluid bg-dark shadow">
    <br><br> <!--2 spaces-->
    <h3 class='text-white'>The Olympic Top 10 Countries</h3>
    <br><br> <!--2 spaces-->
    <!-- <button>Click Me!</button> -->
    <div id='dashboard'></div>
    <br><br> <!--2 spaces-->
    <div class="box">
        <!-- stuff -->
      <h6 class="text-white bet_time"><ion-icon name="brush"></ion-icon> Tejas Babu</h6>
    </div>
    <h4 class='text-white'>Description:</h4>
    <p class='text-white'>In this visualization we can see the number of medals won per country. Hovering over a histogram on your will automatically update information on the pie chart and the legend of the vizualisation to reflect the correct medal split of the country you selected.
      On your right, if you hover over a slice in the pie chart the histogram will update its values per country based on the type of the medal you are selecting.</p>
    <br><br> <!--2 spaces-->    
  </div>

  <div class="parallax2"></div>


  <div class="container-fluid bg-dark shadow">
    <br><br> <!--2 spaces-->
    <h3 class='text-white'>Number of Athletes per Sports for each Olympic edition</h3>
    <br><br> <!--2 spaces-->
    <div class="row shadow rounded p-3 mb-2 bg-white">
      <div class="col-md-1">
        <h1>

        </h1>
      </div>
      <div class="col-md-8">
        <div class="scatter"></div>
      </div>
    </div>
    <br><br> <!--2 spaces-->
    <div class="box">
        <!-- stuff -->
      <h6 class="text-white bet_time"><ion-icon name="brush"></ion-icon> Tejas Babu</h6>
    </div>
    <h4 class="text-white">Description:</h4>
    <p class="text-white">The vizulation displays the number of athletes participating in the olympic games per sport. If you hover an individual dot inside the scatter plot you will see what sport it is associated with and how many athletes participated in the event. This includes both winter and summer olympic games. </p>
    <p class="text-white">Through this graph we can also derive other information for example:</p>
    <ol class="text-white">
      <li>1896 first time Olympic held in Athens, Greece.</li>
      <li>winter game started first time 1924.</li>
      <li>In 1940 and 1944 Olympic did not held because of World War -II,</li>
      <li>Swiming  for Summer 2008 has highest no athlete -- 200.</li>
    </ol>
    <br><br> <!--2 spaces-->
  </div>

  <div class="parallax3"></div>

<script type="text/javascript" src="../static/js/view1.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="../static/js/app_medal.js"></script>
<script type="text/javascript" src="../static/js/app_scatter.js"></script>
<script>
    var canvas = document.getElementById('c1').getContext('2d');
    var radius = 50;
  
    var circles = [
      {
        color:"rgb(0,133,198)",
        x : 2*radius - radius/2,
        y : 2*radius,
        isTop: true
      } , {
        color:'black',
        x : 4*radius,
        y : 2*radius,
        isTop: true
      } , {
        color:'rgb(223,0,32)',
        x : 6*radius + radius/2,
        y : 2*radius,
        isTop: true
      } , {
        color:'rgb(244,195,0)',
        x : 3*radius - radius/4,
        y : 3*radius,
        isTop: false
      } , {
        color:'rgb(50,170,83)',
        x : 5*radius + radius/4,
        y : 3*radius,
        isTop: false
      }
    ];
  
    function drawArc(canvas, color, x, y, start, end) {
      if (color !== 'white') drawArc(canvas, 'white', x, y, start, end);
  
      canvas.lineWidth = color === 'white' ? 16 : 10;
      canvas.strokeStyle = color;
  
      canvas.beginPath();
      canvas.arc(x, y, radius, start - Math.PI/2, end - Math.PI/2, true);
      canvas.stroke();
    }
  
    circles.forEach(function(circle){
      drawArc(canvas, circle.color, circle.x, circle.y, 0, Math.PI*2);
    });
  
    circles.forEach(function(circle){
      if (circle.isTop) {
        drawArc(canvas, circle.color, circle.x, circle.y, Math.PI, Math.PI*2/3);
        drawArc(canvas, circle.color, circle.x, circle.y, Math.PI*5/3, Math.PI*4/3);
      } else {
        drawArc(canvas, circle.color, circle.x, circle.y, 0, Math.PI/3);
        drawArc(canvas, circle.color, circle.x, circle.y, Math.PI*2/3, Math.PI/3);
      }
    });
  
    anime({
      targets: 'canvas',
      translateX: 540,
      duration: 9000,
      rotate: {
        value: 360,
        duration: 1800,
        easing: 'easeInOutSine'
      },
    });
</script>
</body>
</html>