<!DOCTYPE html>
<html>
  <head>    
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Testing Pie Chart</title>
   <!--<script type="text/javascript" src="d3/d3.v2.js"></script>-->
    <script src="http://d3js.org/d3.v2.js"></script>
    <!-- <script src="http://anime.min.js"></script> -->
    <script src="https://code.createjs.com/easeljs-0.7.1.min.js"></script>
	<!-- Note: I made good use of the sample code provided by the D3JS community and extended it to fit my needs to create this simple dashboard -->
    <link rel="stylesheet" type="text/css" href="../static/css/view1.css">
  </head>
  <body>
  
    <div id="pieChart"></div>
    <div id="barChart"></div>  
    <div id="lineChart"></div>
    
    <script type="text/javascript" src="../static/js/view1.js"></script>

    
    <!-- <script src="{{ url_for('static', filename='../static/js/view1.js') }}"></script> -->
  </body>
</html>